<div id="back-image-container" style="background-image: url('files/imgs/page-images/about-back.jpg');">
    <div class="nav-container">
        <div class="vertical-wrapper">
            <img src="files/imgs/logo-icon.png" alt="Grillzzy" class="brand-icon">
                <ul class="nav-items">
                    <li class="nav-item n-link-home menu">Our Products</li>
                    <li class="nav-item n-link-availability">Availability</li>
                    <li class="nav-item n-link-about">About Us</li>
                    <li class="nav-item n-link-about contact">Contact</li>
                </ul>
        </div>
    </div>
    <div class="title-align-wrapper">
        <div class="vertical-align">
            <div class="header">
                <h1 class="image-title">From the Okanagan Valley</h1>
            </div><br><br>
            <p class="description" style="color:white;">
                Imagine yourself in the middle of the forest. Hear the sizzle of the grill while the natural scent of the meat fills the fresh air around you. The aromatic flavors of South Asia fused with real Canadian beef form the perfect blend of spice and flavor as the meat dissolves on your tastebuds. That’s the Grillzzy experience we promise.
            </p>
        </div>
    </div>
</div>
<div class="document-content">
    <div class="sub-header">
        <h1 class="image-subtitle">Who we Are</h1>
    </div>
    <p class="description">
        Originating from the heartland of grizzly bear region of Interior BC, Grillzzy was born as a vision to blend generations of flavors from three different civilizations. The Signature Kebbabs by Grillzzy are a fusion of prime quality Canadian meat, Central Asian grilling style and South Asian flavors into one recipe.
    </p><br>
    <div class="sub-header contact-info">
        <h1 class="image-subtitle">Talk to Us</h1>
    </div>
    <p class="description">
        For all inquiries, you can reach us on our email address <a class="link" href="mailto: grillzzyfoods@gmail.com" target="_blank">grillzzyfoods@gmail.com</a> or our <a href="https://facebook.com/grillzzyfoods/" class="link">facebook page.</a>
    </p>
</div>