<div id="back-image-container">
    <img class="background" data-src="files/imgs/page-images/about-back.jpg">
    
    <div class="nav-container">
        <div class="vertical-wrapper">
            <img data-src="files/imgs/logo-icon.png" alt="Grillzzy" class="brand-icon">
            <ul class="nav-items">
                <li class="nav-item n-link-home menu">Our Products</li>
                <li class="nav-item n-link-availability">Availability</li>
                <li class="nav-item n-link-about">About Us</li>
                <li class="nav-item n-link-about contact">Contact</li>
            </ul>
            <div class="hb-button">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="m-nav-container">
        <ul>
            <li class="nav-item n-link-home menu">Our Products</li>
            <li class="nav-item n-link-availability">Availability</li>
            <li class="nav-item n-link-about">About Us</li>
            <li class="nav-item n-link-about contact">Contact</li>
        </ul>
    </div>

    
    <div class="title-align-wrapper">
        <div class="vertical-align">
            <div class="header">
                <h1 class="image-title">From the Okanagan Valley</h1>
            </div><br>
            <p class="description" style="color:white;">
                Imagine yourself in the middle of the forest. Hear the sizzle of the grill while the natural scent of the meat fills the fresh air around you. The aromatic flavours of Southwest Asia, Middle eastern, and South Asia fused with real Canadian beef form the perfect blend of spice and flavour as the meat dissolves on your tastebuds. That’s the Grillzzy experience we promise.
            </p>
        </div>
    </div>
</div>
<div class="document-content">
    <div class="sub-header">
        <h1 class="image-subtitle">Who we Are</h1>
    </div>
    <p class="description">
        Originating from the heartland of grizzly bear region of Interior BC, <b>Grillzzy</b> was born as a vision to blend generations of flavours from three civilizations. The Signature Kebbabs by Grillzzy are a fusion of prime quality Canadian meat, Southwest Asian grilling style, and South Asian and Middle Eastern flavours into one recipe.
    </p><br>
    <div class="sub-header contact-info distributers">
        <h1 class="image-subtitle">Our Distributers</h1>
    </div>
    <p class="description">
        At Grillzzy, we are looking to work with local and larger scale partners for distribution in Western Canada. Contact us through <a href="mailto:grillzzyfoods@gmail.com" class="link">grillzzyfoods@gmail.com</a> or <a href="tel:7785810949" class="link">(778) 581 0949</a> for further details.</a>
    </p><br><br>
    <div class="sub-header contact-info">
        <h1 class="image-subtitle">Contact Us</h1>
    </div>
    <p class="description">
        For all inquiries, reach us on, our phone number <a class="link" href="tel:7785810949">(778) 581 0949</a>, our email address <a class="link" href="mailto: info@grillzzy.com" target="_blank">info@grillzzy.com</a>, or our <a href="https://facebook.com/grillzzyfoods/" class="link">facebook page.</a>
    </p>
</div>