<div id="back-image-container">
    <div style="overflow:hidden">
        <!-- Add image here -->
    </div>
    <div class="nav-container">
        <div class="vertical-wrapper">
            <img src="files/imgs/logo-icon.png" alt="Grillzzy" class="brand-icon">
                <ul class="nav-items">
                    <li class="nav-item n-link-home menu">Our Products</li>
                    <li class="nav-item n-link-availability">Availability</li>
                    <li class="nav-item n-link-about">About Us</li>
                    <li class="nav-item n-link-about contact">Contact</li>
                </ul>
        </div>
    </div>
    <!-- Create card here -->
</div>