<div id="back-image-container" style="background-image: url(files/assets/availability-back.png); ">
    <div class="nav-container">
        <div class="vertical-wrapper">
            <img src="files/imgs/logo-icon.png" alt="Grillzzy" class="brand-icon">
                <ul class="nav-items">
                    <li class="nav-item n-link-home menu">Our Products</li>
                    <li class="nav-item n-link-availability">Availability</li>
                    <li class="nav-item n-link-about">About Us</li>
                    <li class="nav-item n-link-about contact">Contact</li>
                </ul>
        </div>
    </div>
    <div class="title-align-wrapper">
        <div class="card">
            <!-- Direct Order -->
            <div class="link-box" onclick="window.open('https://facebook.com/grillzzyfoods/', '_blank');">
                <p>DIRECT ORDER</p>
                <p class="italic">Grillzzy Foods, Kelowna</p>
            </div>

            <!-- Retailers -->
            <div class="strong-header">Retailers</div>
            <div class="link-box" onclick="window.open('https://bit.ly/3f4XZif', '_blank');">
                <p>FARAH MIDDLE EASTERN FOODS</p>
                <p class="italic">104 BC-33, Kelowna</p>
            </div>

            <!-- Restaurants -->
            <div class="strong-header">Restaurants</div>
            <div class="link-box" onclick="window.open('https://bit.ly/3hxsKgM', '_blank');">
                <p>BURGER BARON</p>
                <p class="italic">140 Rutland Rd N, Kelowna</p>
            </div>
            <div class="link-box" onclick="window.open('https://bit.ly/2X04NFH', '_blank');">
                <p>THE BURGER JOINT (FOOD TRUCK)</p>
                <p class="italic">2330 BC-97, Kelowna</p>
            </div>

            <!-- Delivery -->
            <div class="strong-header">Delivery</div>
            <div class="link-box" onclick="window.open('https://tutti.app/wap.php?c=Shop&a=classic_shop&shop_id=457', '_blank');">
                <p>TUTTI</p>
                <p class="italic">Order through Tutti</p>
            </div>
        </div>
    </div>
</div>