<div id="back-image-container">

    <!-- Navigation Bar -->
    <div class="nav-container">
        <div class="vertical-wrapper">
            <img data-src="files/imgs/logo-icon.png" alt="Grillzzy" class="brand-icon">
            <ul class="nav-items">
                <li class="nav-item n-link-home menu">Our Products</li>
                <li class="nav-item n-link-availability">Availability</li>
                <li class="nav-item n-link-about">About Us</li>
                <li class="nav-item n-link-about contact">Contact</li>
            </ul>
            <div class="hb-button">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="m-nav-container">
        <ul>
            <li class="nav-item n-link-home menu">Our Products</li>
            <li class="nav-item n-link-availability">Availability</li>
            <li class="nav-item n-link-about">About Us</li>
            <li class="nav-item n-link-about contact">Contact</li>
        </ul>
    </div>

    <!-- Video player -->
    <div style="overflow:hidden">
        <video autoplay muted loop class="back-video">
            <source src="files/assets/promo-video.mp4" type="video/mp4">
        </video>
    </div>


    <!-- Title Content -->
    <div class="title-align-wrapper">
        <div class="wrapper" style="padding-left: 0.8em">
            <div class="header">
                <h1>Food <div>Crafted</div> with Flavour</h1>
            </div><br>
            <div class="header-button n-link-availability">View Details</div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="document-content">

    <div class="text-container" style="margin-bottom: 6rem;">
        <p class="paragraph" style="display: inline-block;">We are an Okanagan (Kelowna) based <b>family-owned food manufacturer</b>. Our unparalleled authentic food products are the blend of South Asian, Middle Eastern and Southwest Asian flavours. All our meat products are proudly prepared from local Canadian meat.</p><br><br>
        <div class="button n-link-availability" style="display: inline-block; margin-right: 1em;">Get our products</div>
        <div class="button accent n-link-about distributer-scroll" style="display: inline-block;">Be Our Partner</div>
    </div>

    <div class="menu-container">
        <div class="sub-header">
            <h1 class="image-subtitle">OUR PRODUCTS</h1>
        </div>

        <!-- Product Slider -->
        <div id="product-slider">
            <div class="slider">
                <img data-id="4" data-src="files/imgs/slider-pics/1.jpg" alt="Beef Kebbabs on a plate with vegetables">
                <img data-id="1" data-src="files/imgs/slider-pics/2.jpg" alt="Closeup of Chicken Kebbabs">
                <img data-id="2" data-src="files/imgs/slider-pics/3.jpg" alt="Beef Kebbabs on a plate with Naan">
                <img data-id="3" data-src="files/imgs/slider-pics/4.jpg" alt="Seekh Kebbabs on a plate with sauce">
            </div>
        </div>


        <!-- Product List -->
        <div class="menu-list">

            <!-- Product Category (Beef) -->
            <div class="menu-section-wrapper">
                <div class="item-container primary expand-container">
                    <div class="inline-container">
                        <img data-src="files/imgs/products/beef-kebbabs.png" alt="Beef Kebbabs" class="product-image">
                    </div>
                    <div class="inline-container text">
                        <h1 class="item-title">Beef Kebbabs</h1>
                        <h2 class="item-description">Canadian ground beef mixed with our perfect blend of spices and locally grown vegetables create our moutwatering kebbabs that deliver the fusion of Canadian, Central and South eastern flavours.</h2>
                        <button class="expand-btn">View Flavours & Types <p style="display:inline-block">&darr;</p></button>
                    </div>
                </div>

                <div class="expandable-list contract">
                    <div class="item-container">
                        <div class="inline-container">
                            <img data-src="files/imgs/products/beef-kebbabs.png" alt="Beef Kebbabs" class="product-image">
                        </div>
                        <div class="inline-container">
                            <h1 class="item-subtitle">Beef Kebbabs (Uncooked) (Pack of 5)</h1>
                            <div class="button accent n-link-availability">Order Now</div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="inline-container">
                            <img data-src="files/imgs/products/beef-kebbabs-spicy.png" alt="Beef Kebbabs" class="product-image">
                        </div>
                        <div class="inline-container">
                            <h1 class="item-subtitle">Spicy Beef Kebbabs (Uncooked) (Pack of 5)</h1>
                            <div class="button accent n-link-availability">Order Now</div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="inline-container">
                            <img data-src="files/imgs/products/beef-seekh.png" alt="Beef Kebbabs" class="product-image">
                        </div>
                        <div class="inline-container">
                            <h1 class="item-subtitle">Beef Seekh Kebbabs (Uncooked) (Pack of 8)</h1>
                            <div class="button accent n-link-availability">Order Now</div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="inline-container">
                            <img data-src="files/imgs/products/beef-seekh-spicy.png" alt="Beef Kebbabs" class="product-image">
                        </div>
                        <div class="inline-container">
                            <h1 class="item-subtitle">Spicy Beef Seekh Kebbabs (Uncooked) (Pack of 8)</h1>
                            <div class="button accent n-link-availability">Order Now</div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Product Category (Chicken) -->
            <div class="menu-section-wrapper">
                <div class="item-container primary expand-container">
                    <div class="inline-container">
                        <img data-src="files/imgs/products/chicken-kebbabs.png" alt="Beef Kebbabs" class="product-image">
                    </div>
                    <div class="inline-container text">
                        <h1 class="item-title">Chicken Kebbabs</h1>
                        <h2 class="item-description">Our chicken kebbabs are a blend of locally raised chicken, a perfected mix of spices, and locally grown vegetables making them perfect for a sizzling BBQ</h2>
                        <button class="expand-btn">View Flavours & Types <p style="display:inline-block">&darr;</p></button>
                    </div>
                </div>

                <div class="expandable-list contract">
                    <div class="item-container">
                        <div class="inline-container">
                            <img data-src="files/imgs/products/chicken-kebbabs.png" alt="Beef Kebbabs" class="product-image">
                        </div>
                        <div class="inline-container">
                            <h1 class="item-subtitle">Chicken Kebbabs (Uncooked) (Pack of 5)</h1>
                            <div class="button accent n-link-availability">Order Now</div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="inline-container">
                            <img data-src="files/imgs/products/chicken-kebbabs-spicy.png" alt="Beef Kebbabs" class="product-image">
                        </div>
                        <div class="inline-container">
                            <h1 class="item-subtitle">Spicy Chicken Kebbabs (Uncooked) (Pack of 5)</h1>
                            <div class="button accent n-link-availability">Order Now</div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="inline-container">
                            <img data-src="files/imgs/products/chicken-seekh.png" alt="Beef Kebbabs" class="product-image">
                        </div>
                        <div class="inline-container">
                            <h1 class="item-subtitle">Chicken Seekh Kebbabs (Uncooked) (Pack of 8)</h1>
                            <div class="button accent n-link-availability">Order Now</div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="inline-container">
                            <img data-src="files/imgs/products/chicken-seekh-spicy.png" alt="Beef Kebbabs" class="product-image">
                        </div>
                        <div class="inline-container">
                            <h1 class="item-subtitle">Spicy Chicken Seekh Kebbabs (Uncooked) (Pack of 8)</h1>
                            <div class="button accent n-link-availability">Order Now</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Category (Naan) -->
            <div class="menu-section-wrapper">
                <div class="item-container primary expand-container">
                    <div class="inline-container">
                        <img data-src="files/imgs/products/plain-naan.png" alt="Authentic Naan" class="product-image">
                    </div>
                    <div class="inline-container text">
                        <h1 class="item-title">Authentic Naan</h1>
                        <h2 class="item-description">Originating from hundreds of years of tradition, Grillzzy Naan are hand kneaded to create their unparalleled texture.</h2>
                        <button class="expand-btn">View Types <p style="display:inline-block">&darr;</p></button>
                    </div>
                </div>

                <div class="expandable-list contract">
                    <div class="item-container">
                        <div class="inline-container">
                            <img data-src="files/imgs/products/plain-naan.png" alt="Regular Authentic Naan" class="product-image">
                        </div>
                        <div class="inline-container">
                            <h1 class="item-subtitle">Authentic Naan (Regular) (Pack of 5)</h1>
                            <div class="button accent n-link-availability">Order (Direct Order Only)</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
