<div id="back-image-container">
    <div style="overflow:hidden">
        <video autoplay muted loop class="back-video">
            <source src="files/assets/promo-video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="nav-container">
        <div class="vertical-wrapper">
            <img src="files/imgs/logo-icon.png" alt="Grillzzy" class="brand-icon">
                <ul class="nav-items">
                    <li class="nav-item n-link-home menu">Menu</li>
                    <li class="nav-item n-link-home av">Availability</li>
                    <li class="nav-item n-link-about">About Us</li>
                    <li class="nav-item n-link-about contact">Contact</li>
                </ul>
        </div>
    </div>
    <div class="slider">
        <div class="vertical-align">
            <div class="header">
                <h1 class="image-title">Signature Kebbabs</h1>
            </div><br>
            <div class="sub-header">
                <h1 class="image-subtitle">Get them today!</h1>
            </div>
            <div class="delivery-container">
                <img src="files/assets/tutti-white.png" alt="Tutti" class="delivery-service-img">
                <img src="files/assets/ninjanow-white.png" alt="DoorDash" class="delivery-service-img">
                <img src="files/assets/doordash-white.png" alt="DoorDash" class="delivery-service-img">
            </div>
        </div>
    </div>
</div>
<div class="document-content">
    <div class="menu-container">
        <div class="sub-header">
            <h1 class="image-subtitle">OUR PRODUCTS</h1>
        </div>
        <div class="item-container">
            <div class="inline-container">
                <img src="files/imgs/products/beef-kebbabs.png" alt="Beef Kebbabs" class="product-image">
            </div>
            <div class="inline-container">
                <h1 class="item-title">Beef Kebbabs</h1>
                <h2 class="item-description">Available in Spicy and Mild - $15.99 (Uncooked Pack of 5)</h2>
            </div>
        </div>

        <div class="item-container">
            <div class="inline-container">
                <img src="files/imgs/products/chicken-kebbabs.png" alt="Beef Kebbabs" class="product-image">
            </div>
            <div class="inline-container">
                <h1 class="item-title">Chicken Kebbabs</h1>
                <h2 class="item-description">Available in Spicy and Mild - $15.99 (Uncooked Pack of 5)</h2>
            </div>
        </div>

        <div class="item-container">
            <div class="inline-container">
                <img src="files/imgs/products/beef-seekh.png" alt="Beef Kebbabs" class="product-image">
            </div>
            <div class="inline-container">
                <h1 class="item-title">Beef Seekh Kebbabs</h1>
                <h2 class="item-description">Available in Spicy and Mild - $16.99 (Uncooked Pack of 8)</h2>
            </div>
        </div>

        <div class="item-container">
            <div class="inline-container">
                <img src="files/imgs/products/chicken-seekh.png" alt="Beef Kebbabs" class="product-image">
            </div>
            <div class="inline-container">
                <h1 class="item-title">Chicken Seekh Kebbabs</h1>
                <h2 class="item-description">Available in Spicy and Mild - $16.99 (Uncooked Pack of 8)</h2>
            </div>
        </div>
    </div>
    <div class="location-container">
        <div class="sub-header">
            <h1 class="image-subtitle">GET THEM TODAY</h1>
        </div><br>
        <div class="store-container">
            <ul>
                <li class="store-item" style="font-size: 1.6em; text-decoration: underline;">Kelowna</li>
                <li class="store-item"><a href="https://facebook.com/grillzzyfoods/" target="_blank" class="link">Grillzzy Foods</a></li>
                <li class="store-item"><a href="https://bit.ly/3f4XZif" target="_blank" class="link">Farah Middle Eastern Foods</a></li>
                <li class="store-item"><a href="https://bit.ly/3pwVFW6" target="_blank" class="link">Burger Baron</a></li>
                <li class="store-item" style="font-weight:800;">Burger Joint Food Truck</li>
            </ul>
        </div><br><br>
        <div class="delivery-container">
            <img src="files/assets/tutti-grey.png" alt="Tutti" class="delivery-service-img">
            <img src="files/assets/ninjanow-grey.png" alt="DoorDash" class="delivery-service-img">
            <img src="files/assets/doordash-grey.png" alt="DoorDash" class="delivery-service-img">
        </div>
    </div>
</div>