@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap");
@font-face {
  font-family: Pastel;
  src: url(assets/Pastel.woff);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#back-image-container {
  width: 100%;
  position: relative;
  background-color: #212121;
  z-index: 0;
  overflow: hidden;
}

#back-image-container .back-video {
  position: absolute;
  top: 0;
  height: 108%;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 56.25vw;
  z-index: 1;
  box-shadow: inset 0 14px 28px rgba(0, 0, 0, 0.25), inset 0 10px 10px rgba(0, 0, 0, 0.22);
}

#back-image-container * {
  z-index: 2;
}

#back-image-container .slider {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#back-image-container .slider .vertical-align {
  margin: auto 5vw;
}

#back-image-container .slider .vertical-align .description {
  margin-left: 2em;
}

@media screen and (max-width: 850px) {
  #back-image-container .slider .vertical-align .description {
    margin-left: 5vw;
  }
}

#back-image-container .slider .vertical-align .header {
  margin-bottom: 7vh;
}

#back-image-container .slider .vertical-align .delivery-container {
  margin-top: 8em;
}

#back-image-container .slider .vertical-align .delivery-container img.delivery-service-img {
  display: inline-block;
  height: 2.8em;
  margin: 0 2em;
}

@media screen and (max-width: 850px) {
  #back-image-container .slider .vertical-align .delivery-container {
    position: relative;
    margin-top: 10vh !important;
  }
  #back-image-container .slider .vertical-align .delivery-container img.delivery-service-img {
    width: 32.5% !important;
    height: auto !important;
    margin: auto 0 !important;
  }
}

.header {
  display: inline-block;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.header::before {
  content: "";
  background-image: url("assets/text-stroke.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120%;
  height: 160%;
  position: absolute;
  top: -2em;
  left: -1em;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  z-index: -1;
}

.header h1 {
  font-family: "Pastel", sans-serif;
  font-size: 7em;
  font-weight: normal;
  color: white;
  padding-left: 0.8em;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

@media screen and (max-width: 850px) {
  .header::before {
    top: -4vw !important;
    left: -1vw !important;
  }
  .header h1 {
    font-size: 12vw !important;
  }
}

.sub-header {
  display: inline-block;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  margin-left: 2em;
  padding: 1.1em 0;
}

.sub-header::before {
  content: "";
  background-image: url("assets/text-stroke.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 140%;
  height: 11em;
  position: absolute;
  top: -2em;
  left: -1em;
  z-index: -1;
}

.sub-header h1 {
  font-family: "Pastel", sans-serif;
  font-size: 3.5em;
  font-weight: normal;
  color: white;
  padding-left: 1.8em;
  letter-spacing: 0.05em;
  box-sizing: border-box;
}

@media screen and (max-width: 850px) {
  .sub-header::before {
    height: 18vw !important;
    top: 1vw !important;
    left: -7vw !important;
  }
  .sub-header h1 {
    font-size: 9vw !important;
    padding-left: 9vw !important;
  }
}

.description {
  box-sizing: border-box;
  margin-left: 2em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  line-height: 170%;
  width: 65%;
}

@media screen and (max-width: 850px) {
  .description {
    box-sizing: border-box;
    width: 100%;
    margin: 0 2vw;
  }
}

@media screen and (max-width: 600px) {
  .description {
    font-size: 4vw;
  }
}

.link {
  font-weight: 800;
  text-decoration: none;
  color: #4E4E4E;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  .nav-container {
    padding: 0 5vw !important;
  }
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 18vh;
  padding: 0 10vh;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 10;
}

.nav-container .vertical-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.nav-container .vertical-wrapper .brand-icon {
  width: 13em;
  margin-bottom: 1.5em;
  margin-right: 2em;
}

.nav-container .vertical-wrapper * {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: auto 0;
}

.nav-container .vertical-wrapper ul.nav-items {
  list-style-type: none;
}

.nav-container .vertical-wrapper ul.nav-items li {
  display: inline-block;
  font-family: "Pastel", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0 1em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 850px) {
  .document-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.document-content {
  width: 100%;
  background-image: url("assets/texture.png");
  background-size: 100%;
  background-repeat: repeat;
  box-sizing: border-box;
  padding: 15vh 5vw;
}

.document-content .sub-header {
  margin-bottom: 3em;
}

.document-content .menu-container {
  margin-bottom: 7em;
}

.document-content .menu-container .item-container {
  margin-bottom: 2em;
}

@media screen and (max-width: 850px) {
  .document-content .menu-container .item-container .inline-container {
    text-align: center;
  }
  .document-content .menu-container .item-container .inline-container .product-image {
    height: auto !important;
    width: 100%;
    padding: 0;
  }
}

.document-content .menu-container .item-container .inline-container {
  display: inline-block !important;
  margin: auto 0;
  vertical-align: middle;
}

.document-content .menu-container .item-container .inline-container .product-image {
  height: 11em;
  padding-right: 2em;
  box-sizing: border-box;
}

.document-content .menu-container .item-container .inline-container h1.item-title {
  font-family: "Pastel", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #4E4E4E;
  font-size: 4em;
}

.document-content .menu-container .item-container .inline-container h2.item-description {
  font-family: "Pastel", sans-serif;
  font-weight: normal;
  color: #4E4E4E;
  font-size: 2.4em;
}

.document-content .location-container .store-container {
  display: block;
}

.document-content .location-container .store-container ul {
  list-style-type: none;
}

.document-content .location-container .store-container ul li.store-item {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  line-height: 180%;
  text-transform: uppercase;
  color: #4E4E4E;
}

.document-content .location-container .delivery-container {
  display: block;
}

.document-content .location-container .delivery-container img.delivery-service-img {
  display: inline-block;
  height: 2.4em;
  margin: 0 2em;
}

@media screen and (max-width: 850px) {
  .document-content .location-container .delivery-container img.delivery-service-img {
    width: 32.5% !important;
    height: auto !important;
    margin: auto 0 !important;
  }
}

#footer-container {
  width: 100%;
  padding: 10vh;
  background-color: #212121;
  box-sizing: border-box;
}

#footer-container .inline-container {
  display: flex;
}

#footer-container .inline-container * {
  width: 100%;
  color: white;
}

#footer-container .inline-container .f-list {
  list-style-type: none;
  text-transform: uppercase;
}

#footer-container .inline-container .f-list .footer-logo {
  height: 10vh;
  width: auto;
}

#footer-container .inline-container .f-list .item {
  font-size: 0.9em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 200%;
}

#footer-container .inline-container .f-list .item.link {
  cursor: pointer;
}

#footer-container .inline-container .f-list .item-header {
  font-size: 1.1em;
  color: #616161;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 200%;
}

#footer-container .notice-container {
  margin-top: 5vh;
  padding-top: 4vh;
  border-top: 1px solid;
  text-align: center;
}

#footer-container .notice-container .notice {
  text-transform: uppercase;
  color: #616161;
  font-size: 1.3vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 150%;
}

@media screen and (max-width: 850px) {
  #footer-container {
    padding: 5vw !important;
  }
  #footer-container .footer-logo {
    height: auto !important;
    width: 20vw !important;
  }
  #footer-container .item {
    font-size: 2.5vw !important;
  }
  #footer-container .item-header {
    font-size: 3vw !important;
  }
}
